* {
    font-size: 0;

}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

div {
    background-color: #E68369;

    box-sizing: border-box;
    display: inline-block;
    margin: 0;

    height: 25vh;
    width: 25vw;

}


div:nth-of-type(1) {
    position: static;
    top: -25vh;
}

div:nth-of-type(2n) {
    background-color: #131842;

}
